# Copiar este archivo a .env y rellenar los valores

# ── Sanity (mismo valor que web/.env.local) ───────────────────────────────────
NEXT_PUBLIC_SANITY_PROJECT_ID=*******
NEXT_PUBLIC_SANITY_DATASET=*******
NEXT_PUBLIC_SANITY_API_VERSION=2026-02-24

SANITY_PROJECT_ID=*******
SANITY_DATASET=*******